<header class="header flex justify-between align-center">
  <div class="title-post">
    <h1 class="subtitle">Posts</h1>
  </div>
  <div class="navbar">
    <nav class="nav-bar" aria-label="View posts by" role="navigation">
      <ul class="tabs-list flex" role="list">
        <li class="tab-list-item" *ngFor="let tab of tabs" role="listitem">
          <a class="tab-item pointer" [class.active]="tab === selectedTab" role="link">
            {{ tab | titlecase }}
          </a>
        </li>
        <span class="focus-border"></span>
      </ul>
    </nav>
  </div>
</header>
