.tabs-list {
  margin: 0;
  padding: 0;
}

.tab-list-item {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0 0.25rem;

  &.active {
    font-weight: 500;
    color: #08090a;
  }

  &:after {
    content: "";
    display: block;
    border-bottom: solid 3px #3b49df;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover {
    background: #3b49df1a;
    color: #3b49df;
    &::after {
      content: "";
      transform: scaleX(1);
    }
  }
}
