<aside>
    <form>
        <input class="header-search-input" type="text" name="q" placeholder="Search..." autocomplete="off"
            title="Search for articles" aria-label="search" />
            <div class="p-t">

            </div>
    </form>
    <nav class="listing-sidenav">
        <a class="active" href="">All listings</a>
        <a  href="">Contributors/Collaborators Wanted</a>
        <a  href="">Conference CFP</a>
        <a  href="">Available for Hire</a>
        <a  href="">Education/Courses</a>
        <a  href="">Job Listings</a>
        <a  href="">Offering Mentorship</a>
        <a  href="">Seeking a Mentor</a>
        <a  ref="">Stuff for Sale</a>
        <a  href="">Upcoming Events</a>
        <a  href="">Miscellaneous</a>
        <a  href="">Products/Tools</a>
    </nav>
</aside>