<aside>
    <form>
        <input class="header-search-input" type="text" name="q" placeholder="Search..." autocomplete="off"
            title="Search for articles" aria-label="search" />
        <div class="p-t">
            <span (click)="$event.preventDefault()" class="listing-tag filter" *ngFor="let tag of listingTags$|push">
                    <a (click)="$event.stopPropagation()" class="listing-tag-link" routerLink="./" [queryParams]="{t:tag}" >
                        <span class="tag-prefix">#</span>
                        <span>{{tag}}</span>
                        <span (click)="$event.stopImmediatePropagation();removeTag(tag)" class="remove-tag">×</span>
                    </a>
            </span>
        </div>
    </form>
    <nav class="listing-sidenav">
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings" queryParamsHandling='merge'>All listings</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/collabs"  queryParamsHandling='merge'>Contributors/Collaborators Wanted</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/cfp" queryParamsHandling='merge'>Conference CFP</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/forhire" queryParamsHandling='merge'>Available for Hire</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/education" queryParamsHandling='merge'>Education/Courses</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/jobs" queryParamsHandling='merge'>Job Listings</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/mentors" queryParamsHandling='merge'>Offering Mentorship</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/mentees" queryParamsHandling='merge'>Seeking a Mentor</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/forsale" queryParamsHandling='merge'>Stuff for Sale</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/events" queryParamsHandling='merge'>Upcoming Events</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/misc" queryParamsHandling='merge'>Miscellaneous</a>
        <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/listings/products" queryParamsHandling='merge'>Products/Tools</a>
    </nav>
</aside>