
main{
    padding: 1rem 0px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 240px 1fr;
}
// .listing{
//     padding: 1rem;
// }
// li{
//     list-style: none;
// }
// .l{
//     display: grid;
//     grid-gap: 10px;
//     grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
// }