/* You can add global styles to this file, and also import other style files */
:root {
  --screen-width: 1280px;
  --header-height: 56px;
}

body {
  margin: 0;
  padding-top: var(--header-height);
  font-size: 1rem;
  background-color: #eef0f1;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #08090a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

div,
input,
a {
  box-sizing: border-box;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

input {
  padding: calc(0.5rem - 1px) 0.5em;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  line-height: 1.5;
  outline: 0;
  border-radius: 0.4rem;
  border-width: 1px;
  border-color: #b5bdc4;
  border-style: solid;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.btn {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  overflow-wrap: normal;
  font-size: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none !important;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.lh-0 {
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.relative {
  position: relative;
}

ul[class],
ol[class] {
  list-style: none;
}
.secondary-button {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  overflow-wrap: normal;
  font-size: inherit;
  background-color: rgb(210, 214, 219);
  color: rgb(54, 61, 68);
  &:hover {
    background-color: rgba(181, 189, 196, 1);
    box-shadow: 0 2px 5px var(--shadow-hover);
    border-color: #00000000;
    color: #08090a;
    z-index: 1;
  }
}

app-article-details {
  .article-body {
    padding: 2rem 4rem;
    font-size: 1.25rem;
    overflow-wrap: break-word;

    &:last-child {
      margin-bottom: 0;
    }
    ul,
    ol {
      padding-left: 1.5rem;
      margin: 0 0 1.25rem 0;
      br {
        line-height: 0;
        margin: 0;
        padding: 0;
      }
    }
    ul {
      list-style-type: disc;
      p {
        margin: 0;
        padding: 0;
      }
      ul {
        margin: 0 0 0 1.25rem;
        list-style-type: square;
      }
      ul ul {
        list-style-type: circle;
      }
    }
    figure {
      margin: 0;
    }

    figcaption {
      font-style: italic;
      text-align: center;
      font-size: 0.8em;
      color: #08090a;
      opacity: 0.75;
      display: block;
    }

    blockquote {
      border-left: 4px solid #d2d6db;
      padding: 0 0 0 1.25rem;
      margin: 0 0 1.25rem 0;
    }

    blockquote.twitter-tweet {
      background: #fff;
      max-width: 456px;
      border: 1px solid #e9eef2;
      font-size: 0.75em;
      line-height: 1.35em;
      border-radius: 5px;
      margin: 1.6em auto;
      padding: 60px 10px 18px;
      color: white;
      min-height: 60px;
      padding: 33px 15px 8px;
    }

    @media screen and (min-width: 640px) {
      blockquote.twitter-tweet {
        padding: 60px 22px 18px;
        min-height: 105px;
      }
    }

    kbd {
      display: inline-block;
      padding: 3px 5px;
      font-size: 11px;
      line-height: 10px;
      color: #444d56;
      vertical-align: middle;
      background-color: #fafbfc;
      border: solid 1px #c6cbd1;
      border-bottom-color: #959da5;
      border-radius: 3px;
      box-shadow: inset 0 -1px 0 #959da5;
    }

    .article-body-image-wrapper {
      cursor: zoom-in;
    }

    iframe {
      width: 100%;
      border: 0;
      margin: 0 0 1.25rem 0;
    }

    .fluidvids {
      margin: 0 0 1.25rem 0;
    }

    .fluidvids iframe {
      margin: 0;
    }

    .table-wrapper-paragraph {
      width: 100%;
      overflow-x: auto;
      margin: 0 0 1.25rem 0;
    }
    .table-wrapper-paragraph table {
      margin: 0;
    }
    table {
      margin: 0 0 1.25rem 0;
      border-collapse: collapse;
      border-spacing: 0;
    }
    table th,
    table td {
      padding: 0.5rem;
      border: 1px solid #d2d6db;
    }
    table th {
      background: #eef0f1;
      text-align: left;
    }
    .twitter-tweet {
      margin: 0 0 1.25rem 0;
    }

    img,
    video {
      height: auto;
      display: block;
      margin: 1.25rem auto;
      max-width: 100%;
      max-height: calc(50vh + 180px);
      border-radius: 5px;
    }
    code {
      font-family: inherit;
      overflow-wrap: initial;
      overflow-x: auto;
    }

    pre {
      font-family: inherit;
      background: #000;
      color: white;
      margin: unset;
    }

    .highlight__panel {
      display: none;
    }

    blockquote.twitter-tweet a {
      color: white;
    }

    p + figcaption {
      margin-top: -0.8em;
    }
    a {
      text-decoration: underline;
      color: #3b49df;
      &:hover {
        color: #4150f5;
      }
    }
    [class*="ltag"] a {
      text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: calc(1.25rem / 2) 0;
      padding: 0;
      font-weight: 700;
      line-height: 1.25;
    }
    // img {
    //   width: 100%;
    // }

    pre:not(.highlight),
    div.highlight {
      margin: 0 0 1.25rem 0;
      overflow-x: visible;
      overflow-wrap: normal;
      visibility: visible;
    }

    .highlight {
      overflow: auto;
    }
    pre.highlight {
      padding: 1rem;
      border-radius: 5px;
      font-size: 80%;
      overflow: auto;
      overflow-wrap: initial;
    }
    h1 {
      font-size: 1.75em;
    }
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.25em;
    }
    h4 {
      font-size: 1em;
    }
    h5 {
      font-size: 0.875em;
    }
    h6 {
      font-size: 0.85em;
      color: #64707d;
    }
    p {
      margin: 0 0 1.25rem 0;
    }

    hr {
      width: 25%;
      opacity: 0.1;
      border-radius: 5px;
      border: 1px solid #08090a;
      margin: calc(1.25 * 2) auto;
    }
  }
}
